{{ partial "head.html" . }}
<body>
{{ partial "sidebar.html" . }}
<div class="content container">
<div class="posts">
{{ range first 10 .Data.Pages }}
  <div class="post">
    <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    {{ .Summary }}
    <br>
      {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Lire la suite…</a>
  {{ end }}
  </div>
{{ end }}
</div>
</div>
{{ partial "analytics.html" . }}
</body>
</html>
