{{ partial "head.html" . }}
<body>
{{ partial "sidebar.html" . }}
<div class="content container">

<script>
  (function() {
    var cx = '006378951839336244145:jel1meuta3e';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

</div>
{{ partial "analytics.html" . }}
  </body>
</html>