{{ partial "head.html" . }} {{ partial "navigation.html" . }}

<div class="site-wrap">
    {{ partial "hero.html" . }}
    <div class="content container">
        <div class="posts">
            {{ range first 10 (where .Data.Pages "Section" "not in" "rechercher") }}
            <div class="post">
                <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
                <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; Temps de lecture: {{ .ReadingTime }} min {{ if .Site.Params.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      {{ if isset .Params "categories" }}
      <br/>
      {{ $baseUrl := .Site.BaseUrl }}
      {{ range .Params.categories }}<a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}</span>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}">Lire la suite &rarr;</a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "plyr.html" . }} {{ partial "foot.html" . }}
